h1{
  font-size:50px;
  text-align: center;
}

div.reg{
  background-color: #EEEEEE;
  padding-top:70px;
  padding-bottom: 70px;
  margin: 5%;
}

.message{
  text-align: right;
  margin-right:10%;
}

table.reg_form{
  width: 100%;
  font-size: 20px;
  border-spacing: 10px 30px;
  padding-left:20px;
}

.btn{
    color: #fff;
    background-color: #1e90ff;
    border-radius:10px;
    font-size: 1.0em;
    padding: 10px 30px;
    margin-left: 70%;
    margin-top:20px;
}



head{
  padding-top: 80px;
}

body{
  padding-top: 80px;
  margin: auto;
}

.form-signin {
  margin: 50vh auto 0;
  transform: translateY(-50%);
  text-align: center;
}
